// *,  *::before, *::after {
//     // -webkit-tap-highlight-color: transparent; // disable blue tap for sensor device
// }

html {
    scroll-behavior: smooth;
    // scroll-padding-top: 64px;
    font-size: 1px; // reset pixels for em / rem unit
}

h1,h2,h3,h4,h5,h6{margin: 0; padding: 0;}
