// >----------------------------------------------------------------<
// >                          SET COLORS                            <
// >----------------------------------------------------------------<

:root {

    // ^------------------------ typography -------------------------

    --color__h1: var();
    --color__h2: var();
    --color__h3: var();
    --color__h4: var();
    --color__h5: var();
    --color__h6: var();
    --color__s1: var();
    --color__s2: var();
    --color__p1: var();
    --color__p2: var();
    --color__cp: var();
    --color__bt: var();
    --color__ov: var();

    --color__h1_inverse: var();
    --color__h2_inverse: var();
    --color__h3_inverse: var();
    --color__h4_inverse: var();
    --color__h5_inverse: var();
    --color__h6_inverse: var();
    --color__s1_inverse: var();
    --color__s2_inverse: var();
    --color__p1_inverse: var();
    --color__p2_inverse: var();
    --color__ct_inverse: var();
    --color__bt_inverse: var();
    --color__ov_inverse: var();


    // ^-------------------------- buttons --------------------------

    --color__button-primary-fontcolor_normal:    var();
    --color__button-primary-background_normal:   var();
    --color__button-primary-background_hover:    var();
    --color__button-primary-background_active:   var();
    --color__button-primary-background_focus:    var();
    --color__button-primary-background_disabled: var();
    --color__button-primary-background_pressed:  var();
    --color__button-primary-background_loading:  var();

    --color__button-secondary-fontcolor_normal:    var();
    --color__button-secondary-background_normal:   var();
    --color__button-secondary-background_hover:    var();
    --color__button-secondary-background_active:   var();
    --color__button-secondary-background_focus:    var();
    --color__button-secondary-background_disabled: var();
    --color__button-secondary-background_pressed:  var();
    --color__button-secondary-background_loading:  var();


}

.h1 {
    color: var(--color__h1);
    &.inverse {
        color: var(--color__h1_inverse);
    }
}

.h2 {
    color: var(--color__h2);
    &.inverse {
        color: var(--color__h2_inverse);
    }
}

.h3 {
    color: var(--color__h3);
    &.inverse {
        color: var(--color__h3_inverse);
    }
}

// .h4 {
//     color: var(--color__h4);
//     &.inverse {
//         color: var(--color__h4_inverse);
//     }
// }

// .h5 {
//     color: var(--color__h5);
//     &.inverse {
//         color: var(--color__h5_inverse);
//     }
// }

// .h6 {
//     color: var(--color__h6);
//     &.inverse {
//         color: var(--color__h6_inverse);
//     }
// }

// .s1 {
//     color: var(--color__s1);
//     &.inverse {
//         color: var(--color__s1_inverse);
//     }
// }

// .s2 {
//     color: var(--color__s2);
//     &.inverse {
//         color: var(--color__s2_inverse);
//     }
// }

.p1 {
    color: var(--color__p1);
    &.inverse {
        color: var(--color__p1_inverse);
    }
}

// .p2 {
//     color: var(--color__p2);
//     &.inverse {
//         color: var(--color__p2_inverse);
//     }
// }

// .ct {
//     color: var(--color__ct);
//     &.inverse {
//         color: var(--color__ct_inverse);
//     }
// }

// .bt {
//     color: var(--color__bt);
//     &.inverse {
//         color: var(--color__bt_inverse);
//     }
// }

// .ov {
//     color: var(--color__ov);
//     &.inverse {
//         color: var(--color__ov_inverse);
//     }
// }
