// >----------------------------------------------------------------<
// >                            VARIBLES                            <
// >----------------------------------------------------------------<

$icon-big__color: var(--color--primary);
// --icon-big--color_hover: var(--color--primary-light);

$icon-medium__color: var(--color--dark-3xl);
// --icon-medium--color_hover: var(--color--primary-light);

$icon-h32__color: var(--color--primary);
// --icon-medium--color_hover: var(--color--primary-light);

$icon-random__color: var(--color--dark-3xl);
// --icon-medium--color_hover: var(--color--primary-light);

$icon__animation-duration: var(--time-2);
$icon__animation-time-type: var(--animation-3);
$icon__animation-delay: var(--time-1);




// >----------------------------------------------------------------<
// >                            MIXINS                              <
// >----------------------------------------------------------------<

@mixin maskImgSVG($img, $icon-color, $icon-color_hover) { // image.svg
    background: $icon-color;
    mask-repeat: no-repeat;
    mask-size: cover;
    mask-image: url("../../assets/svg/"+$img);
    // @media (hover: hover) {
    //     &:hover {
    //         // transition: all var(--icon--animation__duration) var(--icon--animation__time-type);
    //         background: $icon-color_hover;
    //     }
    // }
    // &.static {
    //     @media (hover: hover) {
    //         &:hover {
    //             transition: none;
    //             background: $icon-color;
    //             cursor: default;
    //             appearance: none;
    //         }
    //     }
    // }
}
