// >----------------------------------------------------------------<
// >                            VARIBLES                            <
// >----------------------------------------------------------------<

:root {

    --menu-list--padding__outer: var(--spacing-5);
    --menu-list--padding__inner: var(--spacing-3);
    --menu-list--gap: var(--spacing-3);
    // --menu-list--border-radius: var(--radius-3);

    --menu-list--color__bg: var(--color-0-2);

    --menu-list--color: var(--color-2-0);
    --menu-list--color_hover: var(--color-2-2);

    --menu-list--animation__duration: var(--time-3);
    --menu-list--animation__time-type: var(--animation-3);
    --menu-list--animation__delay: var(--time-1);

    --menu-list--z-index: var(--z-index-4);
}
