:root { // dark theme

    --color-0-0: rgb(13, 13, 13);
    --color-0-1: rgb(20, 20, 20);
    --color-0-2: rgb(26, 26, 26);
    --color-0-3: rgb(31, 31, 31);

    --color-1-0: rgb(128, 128, 128);
    --color-1-1: rgb(77, 77, 77);
    --color-1-2: rgb(64, 64, 64);
    --color-1-3: rgb(38, 38, 38);

    --color-2-0: rgb(242, 242, 242);
    --color-2-1: rgb(200, 200, 200);
    --color-2-2: rgb(180, 180, 180);
    --color-2-3: rgb(70, 70, 70);

    --color-3-0: rgb(46, 190, 229);
    --color-3-1: rgb(20, 165, 204);
    --color-3-2: rgb(0, 120, 153);
    --color-3-3: rgb(0, 32, 41);

    // --color-4-0: rgb(13, 13, 13);
    // --color-4-1: rgb(20, 20, 20);
    // --color-4-2: rgb(26, 26, 26);
    // --color-4-3: rgb(31, 31, 31);
}

:root{
    --textarea-color--text: rgb(150, 150, 150);
    --textarea-color--background: rgb(30, 30, 30);
    --background-color--background: rgb(20, 20, 20);
    --key-color--text: rgb(180, 180, 180);

    --press-fx-color: rgb(0, 0, 0);

    --blackout-color: rgb(0, 0, 0);


    --textarea-color--caret: rgb(180, 180, 180);

    --key-color--common_normal: rgb(30, 30, 30);
    --key-color--common_hover: rgb(90, 50, 30);

    --key-color--special_normal: rgb(45, 45,45);
    --key-color--special_hover: rgb(65, 65, 65);
    --key-color--special-active_normal: rgb(85, 85, 85);
    --key-color--special-active_hover: rgb(105, 105, 105);

    --key-color--additional_normal: rgb(40, 40, 40);
    --key-color--additional_hover: rgb(70, 70, 70);

    --key-color--arrow_normal:  rgb(35, 35, 35);
    --key-color--arrow_hover: rgb(55, 55, 55);

    --scroll-color--background: rgba(0, 0, 0, 0);
    --scroll-color--track: rgba(0, 0, 0, 0);
    --scroll-color--thumb: rgb(45, 45, 45);

    --key-color--border: transparent;
    --textarea-color--border: transparent;
    --textarea-radius--border: 8px;
    --key-radius--border: 8px;

    --textarea-padding: 16px;

}
