// $textarea-color--text:             rgb(150, 150, 150);
// $textarea-color--background:       rgb(30, 30, 30);
// $background-color--background:     rgb(20, 20, 20);
// $key-color--text:                  rgb(180, 180, 180);

// $press-fx-color:                   rgb(255, 255, 255);

// $blackout-color:                   rgb(0, 0, 0);


// $textarea-color--caret:            rgb(180, 180, 180);

// $key-color--common_normal:         rgb(30, 30, 30);
// $key-color--common_hover:          rgb(90, 50, 30);

// $key-color--special_normal:        rgb(45, 45,45);
// $key-color--special_hover:         rgb(65, 65, 65);
// $key-color--special-active_normal: rgb(85, 85, 85);
// $key-color--special-active_hover:  rgb(105, 105, 105);

// $key-color--additional_normal:     rgb(40, 40, 40);
// $key-color--additional_hover:      rgb(70, 70, 70);

// $key-color--arrow_normal:          rgb(35, 35, 35);
// $key-color--arrow_hover:           rgb(55, 55, 55);

:root {
    // --textarea-color--text: invert(                 $textarea-color--text             );
    // --textarea-color--background: invert(           $textarea-color--background       );
    // --background-color--background: invert(         $background-color--background     );
    // --key-color--text: invert(                      $key-color--text                  );

    // --press-fx-color: invert(                       $press-fx-color                   );

    // --blackout-color: invert(                       $blackout-color                   );


    // --textarea-color--caret: invert(                $textarea-color--caret            );

    // --key-color--common_normal: invert(             $key-color--common_normal         );
    // --key-color--common_hover: invert(              $key-color--common_hover          );

    // --key-color--special_normal: invert(            $key-color--special_normal        );
    // --key-color--special_hover: invert(             $key-color--special_hover         );
    // --key-color--special-active_normal: invert(     $key-color--special-active_normal );
    // --key-color--special-active_hover: invert(      $key-color--special-active_hover  );

    // --key-color--additional_normal: invert(         $key-color--additional_normal     );
    // --key-color--additional_hover: invert(          $key-color--additional_hover      );

    // --key-color--arrow_normal:  invert(             $key-color--arrow_normal          );
    // --key-color--arrow_hover: invert(               $key-color--arrow_hover           );
    --textarea-color--text: rgb(255, 255, 255);
    --textarea-color--background: rgba(255, 255, 255, 0.2);
    --background-color--background: linear-gradient(82.62deg, #FF005C 0%, #FF3D00 90.48%);
    --key-color--text: rgb(255, 255, 255);

    --press-fx-color: rgb(255, 255, 255, 0.5);

    --blackout-color: rgb(0, 0, 0);


    --textarea-color--caret: rgb(255, 255, 255);

    --key-color--common_normal: rgba(255, 255, 255, 0);
    --key-color--common_hover: rgba(255, 255, 255, 0.2);

    --key-color--special_normal: rgba(255, 255, 255, 0.0);
    --key-color--special_hover: rgba(255, 255, 255, 0.2);
    --key-color--special-active_normal: rgba(255, 255, 255, 0.3);
    --key-color--special-active_hover: rgba(255, 255, 255, 0.4);

    --key-color--additional_normal: rgba(255, 255, 255, 0);
    --key-color--additional_hover: rgba(255, 255, 255, 0.2);

    --key-color--arrow_normal:  rgba(255, 255, 255, 0);
    --key-color--arrow_hover: rgba(255, 255, 255, 0.2);

    --scroll-color--background: rgba(255, 255, 255, 0);
    --scroll-color--track: rgba(255, 255, 255, 0);
    --scroll-color--thumb: rgba(255, 255, 255, 0.3);

    --key-color--border: transparent;
    --textarea-color--border: transparent;
    --textarea-radius--border: 8px;
    --key-radius--border: 10000px;

    --textarea-padding: 16px;

    --scroll-radius--border: 10000px
}
